<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Throw 페이지</h1>
    <form action="/catch/" method="GET">
        <label for="name">당신의 이름은? </label>
        <input type="text" id="name" name="name">
        <label for="you">당신의 나이는? </label>
        <input type="text" id='you' name="age">
        <input type="submit" value="입력">
    </form>
</body>
</html>